/* 
.aa{
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    text-decoration: none;
    margin: auto;
    margin-top: 60px;
    background: #ed2525;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    display: flex;
    justify-content:center;
    width: 30px;
    margin-top: 190px;
 
    
}
.aa:hover{
    color:bisque;
    text-decoration: none;
    color: rgb(221, 239, 110);
  background-color: #b10e0e;
  filter: drop-shadow(0 0 20px #141615) contrast(2) brightness(2);
}
 */
 @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
 .aa{
     border: none;
     padding: 15px 70px;
     border-radius: 48px;
     text-decoration: none;
     margin: auto;
     margin-top: 60px;
     background: #ed2525;
     color: #fff;
     font-weight: bold;
     -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
     -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
     box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
     display: flex;
     justify-content:center;
     /* flex-direction: row; */
     width: 30px;
     margin-top: 190px;
  
     
 }
 .aa:hover{
     color:bisque;
     text-decoration: none;
     color: rgb(231, 148, 54);
   background-color: #b10e0e;
   filter: drop-shadow(0 0 20px #141615) contrast(2) brightness(2);
 }
 
 
 .wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
 }
 
 .slider-section {
   width: 100%;
   position: relative;
 }
 
 .slider-section img {
   width: 100%;
   height: 50em;
 }
 
 .btn-container {
   width: 100%;
   padding: 0 1em;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   top: 50%;
   bottom: 50%;
 }
 .con{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   gap: 40px;
  
 
 }
 .head{
   color: #40ab28 !important;
   font-family: "Audiowide", cursive !important;
 }
 
 
 .prev-btn,
 .next-btn {
   font-size: 3rem;
   cursor: pointer;
   background-color: transparent;
   border: none;
   
 }
 
 .head{
 
   font-family: 'Nunito';
   font-size: 55px;
   font-weight: 500;
   text-align: center;
   color: rgb(20, 35, 165);
 
 }
 
 .btnd{
   width: 300px;
   height: 50px;
   background-color:#fb923cf3;
   border-radius: 10px;
   font-family: 'Nunito';
   font-size: 20px;
   font-weight: 600;
   border: none;
 }
 
 @media(max-width: 768px) {
   .slider-section img {
     width: 100%;
     height: 783px;
   }
 
   .con{
     width: 100%;
     height: 200px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     gap: 0;
   }
   .head{
 
     font-family: 'Nunito';
     font-size: 30px;
     font-weight: 400;
     text-align: center;
     color: white;
 
   
   }
 
   .btnd{
     width: 200px;
     height: 50px;
     background-color:#fb923cf3;
     border-radius: 10px;
     font-family: 'Nunito';
     font-size: 20px;
     font-weight: 600;
     border: none;
   }
   
   
 }